    <h2> <%= @task.title %> </h2>
    <p> <%= @task.description %> </p>
    <p> <%= @task.difficulty %> </p>
    <p> <%= @task.done %> </p>
    <p> <%= link_to "Voir toutes les taches", tasks_path %> </p>
